<div id="header">
<nav class="navbar fixed-top navbar-light bg-light">
      <a class="navbar-brand" href="\">Eau Claire's Salon</a>
      <button class="btn"><i class="far fa"></i> @Html.ActionLink("Home", "Index","Home")</button>
      <button class="btn"><i class="fa fa-stylist-reader"></i>@Html.ActionLink("Stylists", "Index","Stylists")</button>
      <button class="btn"><i class="fa fa-stylist"></i> @Html.ActionLink("Clients", "Index","Clients")</button>
    </nav>
</div>